@model MsSQLAdmin.Models.TableViewModel
<div class="table-responsive" id="data">
    @if (Model != null) {
        @if (Model.TableData != null) {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Row</th>
                        @foreach (var column in Model.TableColumns) {
                            <th>
                                @Html.Raw(column.Name)
                            </th>
                        }
                    </tr>
                </thead>
                @if (Model.TableData != null && Model.TableData.Count() > 0) {
                    <tbody>
                        @for (int i = 0; i < Model.TableData.Count(); i++) {
                            var row = Model.TableData[i];
                            <tr>
                                <td>@i</td>
                                @foreach (var column in Model.TableColumns) {
                                    <td>
                                        @Html.Raw(row[column.Name])
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                }
            </table>
        } else if (!string.IsNullOrWhiteSpace(Model.ErrorMessage)) {
            <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
        } else {
            <div class="alert alert-info" role="alert">
                <strong>@Model.DDLResult</strong>enregistrement(s) mis à jour
            </div>
        }
    }
</div>