@model IEnumerable<MsSQLAdmin.Models.TableColumnModel>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Scale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsNullable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPrimaryKey)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxLength)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precision)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Scale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsNullable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPrimaryKey)
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>